<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>


<style>

.on{

    background-color: aqua;

}
.off{

    background-color: red;

}
.unknown{

    background-color: grey;

}


</style>


<script>


    function powerswitch(device){

        let s = document.getElementById(device).className;
        var status = (s ==='on' ? 'off' : 'on');
        update_bosse(device,status )

    }



function update_bosse(device,status) {


    let xhttp = new XMLHttpRequest();
    let url=  "/api/v1/powerswitch";

    //build url
    if (device ){
      url=url.concat("/",device);

      if (status)  url=url.concat("/",status);

    }

    xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
            data = JSON.parse(xhttp.responseText);
            for (let key in data){
                try {
                        document.getElementById(key).className=data[key];
                }
                catch (e) {
                   // statements to handle any exceptions
                   console.log(e); // pass exception object to error handler
                }
            }
        }
    };
    xhttp.open("GET", url, true);
    xhttp.send();


}


setInterval(update_bosse,5000);


</script>



</head>
<body>


<button id="router" class='unknown' onclick="powerswitch('router')")>router</button>
<button id="switch" class="unknown" onclick="powerswitch('switch')"> switch</button>



<script>
    update_bosse();
</script>



</body>
</html>